body {
    background-color: #f4f4f4;
    font-size: 16px;
}
/* start  login form*/
.login{
    width: 300px;
    margin: 100px auto;
}
.login h4{
    color:#888;
}
.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #eaeaea;
}

.login .btn{
    background-color: #008dde;
}
/* end  login form*/

/* start  login upperbar*/

/* start  navbar*/
.upperbar {
    background-color: #08526d;
    color: #fff;
    padding: 10px;
}

/* end  login upperbar*/
.navbar-brand > span {
    font-size: 25px;
}
.navbar-brand span:first-child {
    font-weight : bold;
    color: #08526d;
}
.navbar-brand span:last-child {
    color: #ec1c23;
    }

.navbar-nav .nav-link{
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight : bold;
}

.navbar-light .navbar-nav .active > .nav-link {
    /*.navbar-nav .active > .nav-link{color: #ec1c23 !important;}  this is to override */
    color: #ec1c23;
}
 
.navbar{
    padding: 0rem 1rem;
    margin-bottom: 0px;
    
}
.dropup, .dropright, .dropdown, .dropleft,
.dropup, .dropright, .dropdown, .dropleft:focus,
.dropup, .dropright, .dropdown, .dropleft:hover{
    background-color: cornflowerblue;
}
.dropdown-menu{
    background-color: rgb(17, 233, 161);
    border: none;

}

/* end  navbar*/

/* start from of edit */
.form-control{
    position: relative;
}
.asterisk{
     font-size: 30 px;
     color: #ec1c23;
}

/*  end from of edit */

/* start  dashboard page*/
.home-stats .stat{
    
    border: 1px solid #CCC;
    padding: 20px;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-stats .stat i{
    position: absolute;
    font-size: 80px;
    left: 30px;
    top: 30px;
}
.home-stats .stat .info{
float:right;
}
.home-stats .stat a{
   color: #FFF;
}
.home-stats .stat a:hover{
    text-decoration: none;
}
.home-stats .stat span{
    display: block;
    font-size: 60px;
}
.home-stats .st-members{
    background-color: #0c5b91;
}
.home-stats .st-pendings{
    background-color: #118511;
}
.home-stats .st-items{
    background-color: #b6720c;
}
.home-stats .st-comments{
    background-color: #971682;
}
.latest{
    margin-top: 30px;
}
.latest .toggle-info{
    color: #999;
}
.latest .toggle-info:hover{
    color: #444;
    cursor: pointer;
}
.latest-users{
    margin-bottom: 0;
    background-color: #FFF;
    padding: 10px;
    border-radius:8px; 
}
.latest-users li{
    padding: 8px;
    overflow: hidden;
}
.latest-users li a{
    color: #FFF;
}
.latest-users li:nth-child(odd){
    background-color: #EEE;
}
.latest-users .btn-success,
.latest-users .btn-info{
    padding: 2px 8px;
}
.latest-users .btn-info{
    margin-right: 4px;
}
.latest .latest-comm-col{
    margin-top: 10px;
}
.latest .latest-comments{
    margin-bottom: 0;
    background-color: #FFF;
    padding: 10px;
    border-radius:8px;
}
.latest .comment-box{
    overflow: hidden;
    margin: 5px 0 10px;
    
}
.latest .comment-box .member-n,
.latest .comment-box .member-c{
    float: left;
    
}
.latest .comment-box .member-n{
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 3px;
    color: #008dde;
}
.latest .comment-box .member-c{
    padding: 5px 10px;
    width: calc(100% - 100px);
    background-color: #EEE;
    position: relative;
}
.latest .comment-box .member-c:before{
    content: "";
    display: block;
    position: absolute;
    left: -29px;
    top: 0px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: transparent  #EEE transparent  transparent;
    border-width: 15px;

}
/*  end dashboard page*/

/* start  Memebers page*/
/*
.col-md-4 {
    top: -38px;
    position: relative;
    right: -100px;
}
.asterisk {
    right: 28px;
    font-size: 30 px;
    color: #ec1c23;
    position: absolute;
    top: 8px;
}
.show-pass{
    right: -21px;
    position: absolute;
    top: 2px;
}
*/
h1{
    font-size: 44px;
    margin: 30px 0;
    color: #666;
    font-weight: bold;  
}

.show-pass{
    position: relative;
    top: 20 px;
    right: -20 px;
}
.manage-members img{
    width: 50px;
    height: 50px;
}
 .search-box{
    margin: 0;
    top: 35px;
    position: relative;
 }
.ser{
    right: 2px;
    position: relative;
    top: -37px;
    float: right;
    background-color: black;
    color: #fff;
    padding: 6px;
}
.main-table{
    -webkit-box-shadow:0 3px 10px #CCC;
    -moz-box-shadow:0 3px 10px #CCC;
    box-shadow:0 3px 10px #CCC;
}
.main-table td {
    background-color: #fff;
    vertical-align:center !important;
}
.main-table tr:first-child td{ /*you can use Thead */
    background-color: #333;
    color: #fff;
    border: none;

}
.main-table #head-t td{
    background-color: #333;
    color: #fff;

}
.main-table .btn{
    padding: 3px 10px;
}
.activate{
    margin-left: 5px;
}
/* end  Memebers apge*/

/* start  Catagories apge*/
.catagories .panel-heading{
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 5px;
}
.catagories .panel-heading i{
    position: relative;
}
.catagories .panel-body{
    padding: 0;
    
}
.catagories .option a{
    color: #888;
    text-decoration: none;
}
.catagories .option span{
    color: #888;
    cursor: pointer;
}
.catagories .option .active{
    color: #F00;
    font-weight: bold;
}
.catagories hr{
   margin: 0;
    /* margin-top: 3px;
    margin-bottom: 3px;*/
}
.catagories .cat{
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.catagories .cat:hover{
    background-color: #EEE;
}
.catagories .cat:hover .hidden-buttons{
    right: 10px;
}
.catagories .cat .hidden-buttons{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -170px;
}
.catagories .cat .hidden-buttons a{
    margin-right: 5px;
    padding: 3px 8px;
}
.catagories .cat h3{
    margin: 0 ;
    cursor: pointer;
    font-weight: bold;
    color: #0c5b91;
}
.catagories .cat .full-view p{
    margin-top: 10px;
    color: #0c5b91;
}
.catagories .cat:last-of-type ~ hr{
    display: none; 
}
.catagories .cat .vca{
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 10px;
}
.catagories .cat .visibility{
    background-color: #c03969;
}
.catagories .cat .Commenting{
    background-color: #110308;
}
.catagories .cat .adverts{
    background-color: #f8ac08;
}
.catagories .add-catagory{
    margin-top: -10px;
    margin-bottom: 20px;
}
.catagories .child-head{
    margin: 10px 0 5px 40px;
    color: #1ad1af;
    font-weight: bold;
    font-size: 16px;
}
.catagories .child-cats{
    margin: 0px 0 0px 40px;
}
.catagories .child-cats li{
    margin-left: 15px;
}
.catagories .child-cats li:before{
    content: "- ";
}
.catagories .show-delete{
    color: #F00;
    display: none;
}
/* end  Catagories apge*/

/* Start  Items apge*/
.empty-rec{
    background-color: #FFF;
    font-size: 30px;
    margin: 15px;
    padding: 15px;
    border-left: #118511 solid 5px;
}

/* end  Items apge*/