<div class="upperbar">
  <div class="container">
    <div class="row">
      <div class="col"><i class="fa fa-phone"></i> +967 772 732 383 ,  <i class="fa fa-envelope-o"></i> hamzah</div>
      <div class="col">lets work togather, go ahead</div>
    </div>
  </div>
</div>